body{
  padding: 0%;
  margin: 0%;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  flex-direction: column;
}

#area{
  width: 20%;
  height: 30%;
  background-color: #218b00;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font: normal 20pt Arial;
  border-radius: 20px;
}