body{
  padding: 0%;
  margin: 0%;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(105, 187, 253);
  font: normal 15pt arial;
}

h1{
  color: rgb(255, 255, 255);
}

section{
  width: 30vw;
  height: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 8px #33333391;
  padding: 1%;
}

input{
  border: solid 1px #3a3a3a;
  border-radius: 6px;
  width: 40%;
  height: 3vh;
}

#button{
  width: 50%;
  height: 4vh;
  margin-top: 0%;
  font: normal 15pt arial;
  color: white;
  background-color: rgb(59, 138, 255);
  margin-bottom: 4%;
}


select{
  width: 7vw;
}

footer{
 color: white;
}