body{
  padding: 0%;
  margin: 0%;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(105, 187, 253);
  font: normal 15pt arial;
}

h1{
  color: rgb(255, 255, 255);
}

section{
  width: 30vw;
  height: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 8px #33333391;
}

img{
  width: 20vw;
  height: 40vh;
  border-radius: 100%;
  margin: 1vw;
}

#msg{
 font-size: 20pt;
 padding: 1%;
 margin-top: 2%;
}

footer{
 color: white;
}