body{
  padding: 0%;
  margin: 0%;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-size: large;
  flex-direction: column;
  margin: 12%;
}

.class{
  font-size: 30pt;

}

input{
  transform: translate(0, -5px);
  width: 50px;
  height: 28px;
  border-radius: 5px;
}

#btn{
  width: 100px;
  height: 40px;
  margin-left: 20px;
  color: beige;
  background-color: rgb(44, 78, 231);
  border: solid 1px rgb(15, 47, 192);
  border-radius: 8px;
  font-size: 14pt;
}
